{% extends "base_generic.html" %}

{% block content %}
  <h1>Название: {{ film.name }}</h1>
    <img src="{{ film.poster.url }}" >
    <p><strong>Режесёр:</strong> <a href="{{ film.producer.get_absolute_url }}">{{ film.producer }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Жанр:</strong> {% for genre in film.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Описание:</strong> {{ film.description }}</p>
    {% if perms.catalog.admin %}
        <p><a href="{{ film.get_delete }}">Удалить</a></p>
        <p><a href="{{ film.get_update }}">Изменить</a></p>
    {% endif %}

{% endblock %}